#headerBox{
    -fx-background-color:#663399;
}

#headerLabel{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

#headerLogo{
    -fx-width: 300px;
    -fx-height: 150px;
}

#app{
    -fx-background-color:transparent;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}